#layout-option {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    transform: translate(0, 10%);
    margin-right: 5% ;
}
.one-column {
    width: 100%; 
}
.one-column .patientCard{
    grid-template-columns: 12% 60% 20%;
}
.two-column .patientCard{
    grid-template-columns: 25% 30% 35%;
}
.two-column {
    width: 45%; 
}
.one-column-layout {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%; /* Ensure the columns take the full width */
    margin-top: 5%;
  }
.two-column-layout {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%; /* Ensure the columns take the full width */
    margin-top: 5%;
  }

  .pagination-container {
    margin-top: 20px; 
    display: flex;
    align-items: center;
  }
  
  .itemPerPage {
    background-color: transparent;
    margin-left: 10px; 
  }
.PatientList{
    position: relative;
    width: 60%;
    border-radius: 20pt;
    background-color: #d5c0e0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

}
.patientCard{
    width: 100%;
    font-size: 16pt;
    display: grid;    
    align-items: center;
    padding: 1%;
}
.patientCard .circle{
    grid-column: 1 / span 1;
    grid-row: 1 /span 2;
    width: 90%;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.patientCard .name{
    grid-column: 2 ;
    grid-row: 1;
}
.patientCard .time{
    color: red;
    grid-column: 2 ;
    grid-row: 2;
}
.patientCard .type{
    grid-column: 3 / span 1;
    grid-row: 1 /span 2;
    font-weight: bold;
}

.patientCard.Male > .circle{
    background-color: #B9DDDF;
}
.patientCard.Female >.circle{
    background-color: rgba(221, 13, 63, 0.20);
}

.patientCard.EMERGENCY >.type , .patientCard.URGENT >.type {
    border-radius: 10px;
    background: rgba(246, 32, 32, 0.20);
    color: #F62020;
    text-align: center;
}
.patientCard.NEWBORN >.type, .patientCard.ELECTIVE >.type{
    border-radius: 10px;
    background: rgba(246, 225, 32, 0.20);
    color: #F6E120;
    text-align: center;
}
.patientCard:hover{
    cursor: pointer;
    background-color: #dad0e4;
    border-radius: 20px;
}



