.two-column-layout {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%; /* Ensure the columns take the full width */
  }
  
  .column {
    width: 50%; /* Adjust the width as needed, considering margin and padding */
    margin-bottom: 10px;
  }

  .pagination-container {
    margin-top: 20px; /* Add margin-top for spacing */
    display: flex;
    align-items: center;
  }
  
  .itemPerPage {
    margin-left: 10px; /* Add margin-left for spacing */
  }
.PatientList{
    width: 50%;
    height: 50%;
    border-radius: 20pt;
    background-color: #d5c0e0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

}
.patientCard{
    width: 90%;
    font-size: 16pt;
    display: grid;    
    grid-template-columns: 20% 30% 35%;
    grid-column-gap: 1%;
    align-items: center;
    margin-top: 2%;
}
.patientCard .circle{
    grid-column: 1 / span 1;
    grid-row: 1 /span 2;
    width: 90%;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.patientCard .name{
    grid-column: 2 ;
    grid-row: 1;
}
.patientCard .time{
    color: red;
    grid-column: 2 ;
    grid-row: 2;
}
.patientCard .type{
    grid-column: 3 / span 1;
    grid-row: 1 /span 2;
    font-weight: bold;
}

.patientCard.Male > .circle{
    background-color: #B9DDDF;
}
.patientCard.Female >.circle{
    background-color: rgba(221, 13, 63, 0.20);
}

.patientCard.EMERGENCY >.type , .patientCard.URGENT >.type {
    border-radius: 10px;
    background: rgba(246, 32, 32, 0.20);
    color: #F62020;
    text-align: center;
}
.patientCard.NEWBORN >.type, .patientCard.ELECTIVE >.type{
    border-radius: 10px;
    background: rgba(246, 225, 32, 0.20);
    color: #F6E120;
    text-align: center;
}
.patientCard:hover{
    cursor: pointer;
    background-color: #dad0e4;
    border-radius: 20px;
}



