/* LayoutSelector component styles */ 
.selector { 
  display: flex; 
} 
input {
display: none;
}
label { 
  display: flex; 
  cursor: pointer; 
  padding: 5px; 
} 
label:hover{ 
  background-color: #e2dfdf; 
  border-radius: 5px; 
} 
label input[type="radio"]:checked + .icon { 
  background-color: #d7d6eb;
  border-radius: 10px;
} 

.icon{ 
  font-size: 30px; 
  padding: 8px; 
  margin-right: 5px; 
  align-items: center; 
} 

/* PatientList component styles */ 
.grid-container { 
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  gap: 20px; 
} 
 
.grid-item { 
  border: 1px solid #ccc; 
  padding: 10px; 
}