.takenote {
    width: 871px;
    height: auto;
    border-radius: 20px;
    background-color: #ccc;
    padding: 50px;
    position: relative;
}

.takenote h1 {
    font-size: 25px;
    font-weight: 600;
    display: inline;
}

.non-important {
    display: inline;
    margin-left: 2%;
    width: 6%;
    height: 6%;
    cursor: pointer;
    color: #111;
    opacity: 20%;
}

.important {
    display: inline;
    margin-left: 2%;
    width: 6%;
    height: 6%;
    cursor: pointer;
    color: #eb3223;
    opacity: 100%;
}

.non-important:hover {
    color: #eb3223;
    opacity: 100%;
}

.takenote textarea#title {
    width: calc(100% - 20px);
    height: 50px; /* Adjusted height */
    padding: 10px;
    margin-top: 5px;
    font-size: 20px; /* Increased font size */
    font-weight: bold; /* Added font weight */
    outline: none;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden; /* Prevent overflow */

}

.takenote textarea#title::placeholder {
    color: #999;
}


.takenote textarea#title:focus {
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.takenote textarea#takenote {
    width: calc(100% - 20px);
    height: 200px;
    margin-top: 10px;
    padding: 10px;
    font-size: 18px;
    outline: none;
    resize: none;
    overflow: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.submit-btn {
    margin-top: 20px;
    text-align: right;
}
